<style type="text/css">
    #full-height-container{
        display:none;
    }
    #$chatboxId .cb-content-hold {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: white;
    }
    #$chatboxId .cb-content-hold .cb-content{
        height: 80% !important;
    }
    #$chatboxId .cb-content-hold .cb-input, #$chatboxId .cb-content-hold .chat-where {
        height: 10%;
    }
</style>